/*
 Name: IndieBrew Landing Page
 Description: A Codewell coding challenge.
 Author: Federico Borzani
 GitHub: https://github.com/eserengo/
*/

$ff-dm-sans: "DM Sans", sans-serif;

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0%;
  margin: 0%;
  user-select: none;
  font-weight: 400;
}