/*
 Name: IndieBrew Landing Page
 Description: A Codewell coding challenge.
 Author: Federico Borzani
 GitHub: https://github.com/eserengo/
*/

$clr-off-white: hsl(0, 0%, 99%);
$clr-off-black: hsl(0, 0%, 1%);
$clr-off-gray: hsl(0, 0%, 50%);
$clr-off-sky: rgb(19, 141, 189);
$clr-off-sand: rgb(230, 210, 215);

:root {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
  user-select: none;
  font-weight: 400;
}

body {
  min-width: 200px;
  background-image: linear-gradient(to right, $clr-off-sand, $clr-off-white, $clr-off-white);
}

@mixin flex-col {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

@mixin btn {
  text-decoration: none;
  font-size: 0.75rem;
  letter-spacing: 1px;
  border: 1px solid $clr-off-sky;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  color: $clr-off-white;
  background-color: $clr-off-sky;
  box-shadow: 0px 2px 4px $clr-off-gray;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $clr-off-sky;
    background-image: linear-gradient(to right, $clr-off-white, $clr-off-white, $clr-off-sand);
  }

  .strong {
    font-weight: 700;
  }
}